.form
    display flex
    height 100%
    width 100%
    justify-content space-between
    flex-direction column
    font-family sans-serif
    
    .heading
        margin-bottom 5rem
        h1
            border-bottom 2px solid #ccc
            width fit-content
            padding 20px 0 20px 20px
            display block
            margin 0
    .dataInput
        width 60%
        display: flex
        .leftDiv
            width 50%
            display flex
            flex-direction column
            align-items center
            .invalidLabel
                color red

            div
                height 3rem
                font-size 20px
                display flex
                align-items center
        .rightDiv
            width 50%
            display flex
            flex-direction column
            align-items center
            position relative

            .invalid
                position relative
                transition 1s
                &:before
                    content:'Must be > 0 and <= 24 hours'
                    position absolute
                    background-color rgb(249, 121, 121)
                    width 230px
                    height fit-content
                    font-size 15px
                    top 0 
                    right -270px
                    padding 5px 10px
                    transform translateY(-50%)
                    top 50%
                    border-radius 5px
                    color white
                    transition all 0.7s
                &:after
                    content:''
                    border 5px solid red
                    border-color transparent rgb(249, 121, 121) transparent transparent
                    position absolute
                    top 50%
                    transform translateY(-50%)
                    right -20px


            div
                height 3rem
                font-size 20px
                max-width 100%
                min-width 100%
                position relative
                display flex
                align-items center

                input
                    all unset
                    height 2rem
                    width 100%
                    max-width 100%
                    background-color white
                    border-radius 2px
                    font-size 15px
                    padding: 5px 20px
                    box-sizing border-box
                    border 1px solid black
                .inputInvalid 
                    background-color rgb(249, 121, 121)
                    color white
                    animation animationInvalid 0.15s linear 
                    position relative

                .select
                    height 2rem
                    background-color white
                    display: inline-block;
                    width 100%
                    font-size 15px
                    padding: 5px 10px
                    box-sizing border-box
                    border none
                    outline none
                    border-radius 2px
                    border 1px solid black
    .actions
        display flex
        flex-direction row-reverse
        padding-right 3rem
        margin-bottom 3rem
        button
            background-color white
            color black
            border-radius 50%
            height 3rem
            font-weight bold
            font-size 25px
            width 3rem
            box-shadow 1px 2px 8px rgba(0,0,0,0.5)
            cursor pointer
            &:disabled
                display none
            &:hover
                background-color black
                color white
                        
.invalidNumberOfHours
    position absolute
    left calc(100% + 30px)
    background-color rgb(249, 121, 121)
    font-size 17px
    padding 5px 10px
    border-radius 6px
    width 200px
    &:before
        position absolute
        left -12px
        content ""
        border 6px solid red
        border-color transparent rgb(249, 121, 121) transparent transparent
        top 50%
        transform translateY(-50%)
@keyframes animationInvalid {
    0%{
        left 0
    }
    25%{
        left 7px
    }
    50%{
        left 0px
    }
    75%{
        left -7px
    }
    100%{
        left 0
    }
}

        
            